
.projects {

  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.div-direction{
  width: 100%;
  display: flex;
  flex-direction: colums-reverse;
  flex-wrap: wrap;
  align-items: center;
  
}

.projects-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
  margin-bottom: 15px;
  margin-left: 1cm;
  margin-right: 15px;
  }
  
  .project-info{
    width: 18rem;
    height: 27rem;
    background-image: linear-gradient(#000000, #250b46, rgba(98, 73, 115, 0.3)), url("src/assets/img/backgrounds/binary_code.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: solid #fcfcfe;
    border-radius: 25% 10%;
    transition: .25s;
  }
  
  .project-info:hover{
  
    width: 18rem;
    height: 29rem;
    cursor: default;
  }
  
  .project-info h3{
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #F39422;
    text-align: center;
    margin-top: 20;
  }
  
  .project-info h4, .project-info p{
  
    color: #fff;
    text-align: center;
  }
  
  .project-info h3{
  
    font-size: 1.1575rem;
  }
  
  .project-info h4{
  
    font-size: 1.125rem;
  }
  
  .project-info p{
  
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.0625rem;
  }
  
  .project-info a{
  
    font-size: clamp(12px, 5vw, 16px);
    color: #eaeaed;
    padding: 5px 15px;
    cursor: pointer;
  }

  .project-info a:hover{
    color: #000000;
  }
  
  .fab-container {
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
  }
  
  .iconbutton {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 10px 10px 5px #aaaaaa;
  }
  
  
  .iconbutton i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
  }
  
  .options li {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
  }
  
  .options {
    list-style-type: none;
    position: absolute;
    top: 50px;
    right: 30px;
  }
  
  .options2 {
    list-style-type:none;
    position: absolute;
    bottom: 9cm;
    right: -27px;
    color: rgb(255, 255, 255);
  }
  
  .material-icons {
  border-radius: 25% 40%;
  text-shadow: 0 0 10px rgb(104, 104, 106);
  cursor: pointer;
  
  }
  
  .add {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(104, 104, 106);
    font-size: 40px;
    display: flex;
    border-radius: 100%;
    border-style: solid;
    border-right-width: 2px;
    padding: 0.3em;
    width:50px;
    text-align: center;
    display: inline;
    border-radius: 50%;
    line-height: 80px;
    }
  
    
  