
<header data-aos="fade-down" data-aos-duration="1000">
    <nav>
       <input type="checkbox" id="side-menu-btn">
     <label for="side-menu-btn" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <img src="assets/img/logoAP.jpg" alt="logoAP">
      <ul class="menu" id="menu">
        <li class="options"><a class="btn-style" id="home-btn">Home</a></li>
        <li class="options"><a class="btn-style" id="aboutme-btn">About me</a></li>
        <li class="options"><a class="btn-style" id="tech-btn">Technologies and Skills</a></li>
        <li class="options"><a class="btn-style" id="projects-btn">Projects</a></li>
        <li class="options"><a class="btn-style" id="contact-btn">Contact</a></li>
        <li class="options2"><a href="/login" class="login-btn" id="login-btn" >Login</a></li>
      </ul>
    </nav>
  </header>
