.home{
  width: 100%;
  display: flex;
  margin: 0 0 -20px;
  position: relative;
  flex-wrap: wrap;
	flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-position: bottom;
  background-attachment: local;
  padding-top: 80px;
  padding-bottom: 80px;
  column-gap: 80px;
  row-gap: 20px;
}

.home h1, .home h2, .home h3{

  font-family: 'Kaushan Script', cursive;
  color: #fff;
}

.home span{

  font-family: 'Kaushan Script', cursive;
  color: #F39422;
}

.home h1{

  font-size: clamp(45px, 12vw, 80px);
}

.home h2{

  font-size: clamp(30px, 8vw, 50px);
}

.home h3{

  font-size: clamp(25px, 8vw, 40px);
}

.welcome{

  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(#050505, rgba(10, 10, 10, 0.2));
}

.cv{

  margin-top: clamp(25px, 5vw, 50px);
  margin-bottom: 0px;
}

.cv a{

	font-size: clamp(12px, 5vw, 17px);
  font-weight: bold;
  padding: 5px 15px;
}

.home img{
  display: inline-block; 
  position: relative; 
  height: auto; 
  overflow: hidden; 
  width: 400px;
  border-radius: 50%;
  border: 5px solid #040404;
}

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

.iconbutton {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 10px 10px 5px #aaaaaa;
}


.iconbutton i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
}

.options li {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}

.options {
  position: absolute;
  top: 1.8cm;
  right: 8px;
}


.mat-icon {
  color: #fff;
  text-shadow: 0 0 10px rgb(104, 104, 106);
  cursor: pointer;
  cursor: pointer;
  font-size: 40px;
  display: flex;
  border-radius: 100%;
  border-style: solid;
  border-right-width: 2px;
  padding: 0.3em;
  width:50px;
  text-align: center;
  display: inline;
  border-radius: 50%;
  line-height: 50px;
  position:relative ;
  z-index: 1000;

}







