<div class="tech light-color" id="tech"
data-aos="fade-up"
data-aos-easing="linear"
data-aos-duration="500">
<div class="top-wave">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
  </svg>
</div>
<h1><b>Technologies and <span>Skills</span></b></h1>

<ul class="options" *ngIf="isLogged">
  <li>
  <span class="btn-label"></span>
  <i class="fa-brands"><mat-icon class="add" href="/newtech" (click)="newtech()" *ngIf="isLogged">add</mat-icon></i>
  </li>
  </ul>

<div class="tech-icons" id="tech-icons" data-aos="zoom-in-right" data-aos-duration="500">
  <div class="tech-div" data-aos="zoom-in-right" data-aos-duration="500" *ngFor=" let Tecnologias of tecnologias">
    <ul class="options2" *ngIf="isLogged">
    <li>
    <span class="btn-label"></span>
    <i class="fa-brands"><mat-icon style="font-family: 'Material Icons Sharp'"  routerLink="/edittech/{{Tecnologias.id}}" *ngIf="isLogged">edite</mat-icon></i>
    </li>
    <li>
    <span class="btn-label"></span>
    <i class="fa-brands"><mat-icon style="font-family: 'Material Icons Sharp'"  (click)="delete(Tecnologias.id)" *ngIf="isLogged">delete</mat-icon></i>
    </li>
    </ul>
  <circle-progress 
  [title]="(' + Tecnologias.title + ')"
  [showTitle]="false"
  [imageSrc]="Tecnologias.imgtech"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [percent]= "+Tecnologias.perctech"
  [showSubtitle] = true
  [radius]="80"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'black'"
  [innerStrokeColor]="'#F39422'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
  [outerStrokeLinecap]="'square'"
></circle-progress>
<h4><b>&nbsp;&nbsp; {{Tecnologias.perctech}}%</b></h4>
</div>
</div>
<div class="bottom-wave">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
  </svg>
</div>
