<div class="about" id="aboutme"
    data-aos="fade-right"
    data-aos-duration="500">
    <div class="coder">
      <h1>About <span>Me</span></h1>
      <img src= {{about.imgaboutme}} alt="ImgAboutMe">
    </div>
    <div class="about-me">
      <ul class="options" *ngIf="isLogged">
        <li>
        <span class="btn-label"></span>
        <i class="fa-brands"><mat-icon routerLink="/editabout/{{about.id}}" *ngIf="isLogged">edit</mat-icon></i>
        </li>
        </ul>
      <p class="text">{{about.mydescription}}</p>
      <div class="hobbies">
        <h3>My <span>Interest</span></h3>
        <ul>
          <p>{{about.myinterest1}}</p>
          <p>{{about.myinterest2}}</p>
          <p>{{about.myinterest3}}</p>
          <p>{{about.myinterest4}}</p>
        </ul>
      </div>
    </div>
  </div>
