<div class="about" id="aboutme"
    data-aos="fade-right"
    data-aos-duration="500">
    <div class="coder">
      <h1>About <span>Me</span></h1>
      <img src="assets/img/programmer.png" alt="Programmer">
    </div>
    <div class="about-me">
      <p class="text">
        I am 34 years old and I currently reside in the city of Rosario, Santa Fe, Argentina.<br> 
        My main area of interest is the application of informatics to health research,<br>  
        I believe it is a field with great potential.<br> 
        I like to explore, design and create.<br> 
        I enjoy learning from others and exchanging knowledge.<br> 
      </p>
      <div class="hobbies">
        <h3>My <span>Interest</span></h3>
        <ul>
          <p>Bioinformatics</p>
          <p>Big data visualization</p>
          <p>Software Development</p>
          <p>Artificial Intelligence</p>
        </ul>
      </div>
    </div>
  </div>
